*~

venv/
data/*
!data/README.md
!data/generate_test_data.py
!data/test_data/*
!data/Makefile
*__pycache__/
*#*
results/intermediate/integrated_1D/
results/intermediate/Si_17.95keV.poni
results/intermediate/peaks/*
